---
layout:           default
---
<div id="head">
    <div class='logo'>
        <a href="/" title="Home">一年之华</a>
    </div>
</div>

<div id="content">
    {{ content }}
</div><!-- #content --> 

<div id="about">
    <div class="about-content">
        <div class="clearfix">
            <div class="about-left">
       
                
                 
        
               
                         </div>
        </div>

        <div class="copyright right">
            <p>Thanks to <a href="http://beiyuu.com" title="BeiYuu" target="_blank">BeiYuu</a> © 2013</p>
        </div>
    </div>
</div>
