---
layout:           default
---
<div id="head">
    <div class='logo'>
        <a href="/" title="Home">一年之华</a>
    </div>
</div>

<div id="content">
    {{ content }}
</div><!-- #content --> 

<div id="about">
    <div class="about-content">
        <div class="clearfix">
            <div class="about-left">
                <h2>Contact</h2>
                
            </div>
            <div class="about-left about-more">
                <h2>Project</h2>
                {% for post in site.categories.project %}
                    <a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a><br/>
                {% endfor %}
            </div>
            <div class="about-left about-more">
                <h2>About</h2>
                
            </div>
        </div>

        <div class="copyright right">
            <p>Thanks to <a href="http://beiyuu.com" title="BeiYuu" target="_blank">BeiYuu</a> © 2013</p>
        </div>
    </div>
</div>
